
.drawingBoard{
    border: 1px solid black;
    height: 100vh; width: 100vh;
}

.row {
    display: flex;
}

#pixel {
    flex:1; aspect-ratio: 1;
    border: 1px solid black;
    background-color: aqua;

}

.pixel:hover{
    background-color: green;
}