
#drawingBoard{
    border: 1px solid black;
    height: 80vh; width: 100vh;
}

#row {
    height: 1vh; width: 100vh;
    display: flex;
}

#pixel {
    border: 1px solid black;
    background-color: aqua;
    height: 30px; width: 30px;
}

#pixel:hover{
    background-color: green;
}