
.board{
    border: 1px solid black;
    height: 80vh; width: 100vh;
}


.pixel {
    border: 1px solid red;
    background-color: aqua;
    height: 30px; width: 30px;
}

.pixel:hover{
    background-color: green;
}